.add-goods-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    border: 1px solid $special_grey;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 896px;
    border: none;
  }
}

.add-goods-list__item {
  padding-bottom: 19px;
  border-bottom: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 38px;
    padding-left: 38px;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 0;
    padding-left: 0;
  }
}

.add-goods-list__item:first-child {
  @media (min-width: $desktop-width) {
    border-top: 1px solid $special_grey;
  }
}

.add-goods-list__title {
  font-family: $font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  margin: 0;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    border: none;
  }
}

.add-goods-list__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-goods-list__row {
  width: 280px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    width: 287px;
  }
}

.add-goods-list__buy {
  width: 280px;
  display: block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 632px;
    text-align: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
