.add-goods-bonus {
  background-color: $basic_green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-goods-bonus__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic_white;
}
