.example {
  background-color: $basic_grey-3;

  @media (min-width: $tablet-width) {
    background-color: $basic_white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic_grey-3;
  }
}

.example__wrapper {
  margin: 0 auto;
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.example__wrapper-weight {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    flex-wrap: wrap;
  }
}

.example__weight-to-day {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 366px;
  }
}

.example__title {
  font-family: $font;
  font-size: 36px;
  line-height: 40px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__occurred {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__occurred-text {
  font-family: $font;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__nutrition {
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
}
