.main-form {
  @media (min-width: $tablet-width) {
    width: 630px;
    margin: 0 auto;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-form__label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__input {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  flex-grow: 1;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 14px;
  border: 1px solid $special_grey-5;
  outline: none;

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus {
    border: 2px solid $special_dark-grey;

    + .main-form__input-svg {
      fill: $basic_green;
    }

    &:invalid {
      border: 2px solid $special_error;

      + .main-form__input-svg {
        fill: $special_error;
      }
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__radio-label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  padding-left: 45px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-form__radio-label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 1px solid $special_grey;
  top: -5px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
    top: -4px;
    left: 0;
  }
}

.main-form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-color: $basic_green;
  top: 3px;
  left: 8px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 7px;
  }
}

.main-form__title {
  font-family: $font;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
  padding-top: 26px;
  position: relative;
  background-color: $basic_white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.main-form__title::after {
  position: absolute;
  content: "";
  left: calc(50% - 50vw);
  top: 39px;
  width: 100vw;
  height: 3px;
  background-color: $basic_green;
  z-index: -1;
}

.main-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 569px;
  }
}

.main-form__list--add {
  @media (min-width: $tablet-width) {
    width: 565px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-form__textarea {
  padding: 0;
  margin: 0;
  margin-top: 34px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    border: 1px solid $special_grey-5;
  }
}

.main-form__textarea::placeholder {
  font-family: $font;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey;
  text-transform: uppercase;
  text-align: center;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__checkbox-label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
  padding-left: 44px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-form__checkbox-label::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid $basic_grey;
  top: -3px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 2px;
  }
}

.main-form__checkbox:checked + .main-form__checkbox-label::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 16px;
  top: 2px;
  left: 5px;

  @media (min-width: $tablet-width) {
    top: 7px;
  }
}

.main-form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-bottom: 18px;
  }
}

.main-form__item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-form__item--add {
  @media (min-width: $tablet-width) {
    width: 221px;
  }
}

.main-form__item--radio {
  @media (min-width: $desktop-width) {
    padding-left: 28px;
  }
}

.main-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.main-form__fieldset--program {
  border-top: 1px solid $special_grey-3;
  border-bottom: 1px solid $special_grey-3;

  @media (min-width: $tablet-width) {
    border: 1px solid $special_grey;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 25px;
  }
}

.main-form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.main-form__wrapper--required {
  @media (min-width: $tablet-width) {
    width: 565px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 830px;
    margin-top: 61px;
  }
}

.main-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-form__list--contact {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-form__button {
  width: 280px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;

  &:hover {
    background-color: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.main-form__input-svg {
  position: absolute;
}

.main-form__input-svg--mail {
  right: 16px;

  @media (min-width: $tablet-width) {
    right: 19px;
  }
}

.main-form__input-svg--phone {
  right: 12px;

  @media (min-width: $tablet-width) {
    right: 17px;
  }
}

.main-form__item--email {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
