.main-form__label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.main-form__input {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}

.main-form__radio-label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.main-form__title {
  font-family: $font;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
  padding-top: 26px;
}

.main-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-form__list--add {
  @media (min-width: $tablet-width) {
    width: 565px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-form__textarea {
  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-form__textarea::placeholder {
  font-family: $font;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey;
  text-transform: uppercase;
}

.main-form__checkbox-label {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
}

.main-form__item {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.main-form__item--add {
  @media (min-width: $tablet-width) {
    width: 221px;
  }
}

.main-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.main-form__fieldset--program {
  border-top: 1px solid $special_grey-3;
  border-bottom: 1px solid $special_grey-3;
}

.main-form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;
}

.main-form__wrapper--required {
  @media (min-width: $tablet-width) {
    width: 565px;
    display: flex;
    justify-content: space-between;
  }
}

.main-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-form__list--contact {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
