.page-header{
  background: $basic_white;
  border-bottom: 1px solid $special_grey-3;
}
.nav__link{
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
}

