.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
    align-items: flex-start;
  }
}

.page-header__wrapper {
  background-color: $basic_white;
  margin: 0 auto;
  min-width: 280px;
  padding: 0 20px;
  padding-top: 12px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-width: 174px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}
