.page-catalog {
  background-color: $basic_white;
}

.page-catalog__title {
  font-family: $font;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
  margin: 0 auto;
  min-width: 280px;
  padding: 0 20px;
  border-bottom: 1px solid $basis_grey-2;
}
