.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic_white;
  margin: 0;
  padding: 27px 35px 25px 36px;
  text-align: center;
}

.page-main__text {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic_white;
  margin: 0;
  padding-right: 62px;
  padding-left: 60px;
  text-align: center;
}
