.page-header {
  background-color: $basic_white;
  border-bottom: 1px solid $special_grey-3;
  margin: 0 auto;
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}
