.page-footer__cooperation {
  background-color: $basic_white;
}

.page-footer__text-logo-wrapper {
  padding-bottom: 32px;
}

.page-footer__list {
  border-bottom: 1px solid $special_grey-3;
  border-top: 1px solid $special_grey-3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__link-wrapper {
  background-color: $basic_grey;
}
