.products-add-goods {
  background-color: $basic_white;
}

.products-add-goods__title {
  font-family: $font;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;
  padding-bottom: 35px;
  border-bottom: 1px solid $special_grey;
}
