.products-item {
  margin-bottom: 19px;
  border-top: 1px solid $basis_grey-2;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    border: none;
    background-color: $basic_grey;
  }
}

.products-item:first-child {
  border: none;
}

.products-item__name {
  font-family: $font;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  margin: 0;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    min-width: 157px;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.products-item__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.products-item__img-cards {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: 208px;
    margin-top: -73px;
    margin-bottom: 34px;
  }
}

.products-item__buy {
  width: 280px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-top: 13px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    opacity: 0.3;
  }
}

.products-item__table {
  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.products-item__row {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid $special_grey;
  }
}

.products-item--add {
  @media (min-width: $tablet-width) {
    background-color: $basic_white;
    border: 2px solid $special_grey;
  }
}
