.products-add-goods {
  background-color: $basic_white;
  margin: 0 auto;
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
    margin-bottom: 86px;
  }
}

.products-add-goods__title {
  font-family: $font;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;
  padding-bottom: 35px;
  border-bottom: 1px solid $special_grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 81px;
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.products-add-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
