.program-form {
  padding-bottom: 18px;
}

.program-form__title {
  font-family: $font;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 37px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.program-form__text {
  font-family: $font;
  font-size: 14px;
  line-height: 18px;
  color: $basic_black;
  text-transform: uppercase;
  margin: 0;
  width: 226px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 64px;
  }
}
