.program {
  background-color: $basic_white;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 60px;
  }
}

.program__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program__item {
  background-color: $basic_grey;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.program__title {
  font-family: $font;
  font-size: 24px;
  line-height: 37px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.program__catalog-link {
  font-family: $font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
