.program-form__title {
  font-family: $font;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
}

.program-form__text {
  font-family: $font;
  font-size: 14px;
  line-height: 18px;
  color: $basic_black;
  text-transform: uppercase;
}
