.promo {
  background-color: $basic_green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $basic_white;

    @media (min-width: $desktop-width) {
      position: relative;
    }
  }

  .promo__program {
    display: block;
    margin-top: 3px;
    padding-top: 11px;
    padding-bottom: 11px;
    min-width: 280px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;

    &:hover {
      background-color: $basic_green-2;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 277px;
      left: 111px;
      min-width: 244px;
      padding-top: 17px;
      padding-bottom: 17px;
      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      left: 190px;
      top: 282px;
    }
  }

  .promo__wrapper {
    margin: 0 auto;
    min-width: 280px;
    padding: 0 20px;
    height: 305px;

    @media (min-width: $tablet-width) {
      width: 708px;
      padding: 0 30px;
      position: relative;
      height: auto;
    }

    @media (min-width: $desktop-width) {
      min-width: 1220px;
      padding: 0 60px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 430px;
    }
  }

  .promo__img {
    display: block;
    margin: auto;

    @media (min-width: $tablet-width) {
      width: 709px;
      height: 609px;
      margin-top: -8px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      margin: 0;
      top: -30px;
      right: 230px;
      width: 552px;
      height: 499px;

    }
  }
}
