.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 440px;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
    margin: 0 auto;
    padding-top: 58px;
  }
}

.site-list__item {
  border-top: 1px solid $special_grey-4;
  padding-top: 22px;
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    border-top: none;
    margin-right: 34px;
    padding: 0;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.site-list__item:last-child {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.site-list__link {
  font-family: $font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 1;
      border-bottom: 2px solid $basic_green;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic_white;

    &:active {
      opacity: 1;
      border-bottom: 2px solid $basic_white;
    }
  }
}

.site-list__link--all {
  @media (min-width: $tablet-width) {
    color: $basic_black;
  }

  &:active {
    opacity: 1;
    border-bottom: 2px solid $basic_green;
  }
}
